.aboutMe-section {
    min-height: 110vh;
    width: 100%;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    * {
        &::selection {
            background-color: #000;
            color: #fff;
        }
    }
    .surface {
        width: 100%;
        height: 100%;
        position: absolute;
        img {
            position: absolute;
            object-fit: contain;
        }
        &:nth-of-type(1) {
            //filter: brightness(0.7);
            img {
                &:nth-of-type(1) {
                    left: 82.5%;
                    top: 75%;
                }
                &:nth-of-type(2) {
                    left: 2.5%;
                    top: 70%;
                }
                &:nth-of-type(3) {
                    left: 25%;
                    top: 7.5%;
                }
            }
        }
        &:nth-of-type(2) {
            //filter: brightness(0.6);
            img {
                &:nth-of-type(1) {
                    left: 5%;
                    top: 10%;
                }
                &:nth-of-type(2) {
                    left: 80%;
                    top: 5%;
                }
                &:nth-of-type(3) {
                    left: 50%;
                    top: 70%;
                }
            }
        }
        &:nth-of-type(3) {
            //filter: brightness(0.5);
            img {
                &:nth-of-type(1) {
                    left: 65%;
                    top: 7.5%;
                }
                &:nth-of-type(2) {
                    left: 33%;
                    top: 75%;
                }
                &:nth-of-type(3) {
                    left: 87.5%;
                    top: 55%;
                }
                &:nth-of-type(4) {
                    left: 85%;
                    top: 20%;
                }
            }
        }
        &:nth-of-type(4) {
            //filter: brightness(0.5);
            img {
                &:nth-of-type(1) {
                    left: 67.5%;
                    top: 77.5%;
                }
                &:nth-of-type(2) {
                    left: 45%;
                    top: 7.5%;
                }
                &:nth-of-type(3) {
                    left: 17%;
                    top: 78%;
                }
                &:nth-of-type(4) {
                    left: 2.5%;
                    top: 30%;
                }
            }
        }
    }
    .text-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        .text-content-wrapper {
            display: flex;
            justify-content: space-between;
            width: 80%;
            position: relative;
            p {
                font-family: 'Courier New', Courier, monospace;
                font-family: 'SF Pro Display', sans-serif;
                margin: 0px;
                width: 40%;
                &:nth-of-type(1) {
                    font-size: 30px;
                    line-height: 1.25;
                    span {
                        font-family: 'SF Pro Display', serif;
                        font-family: 'Inter', serif;
                        margin-right: 3px;
                    }
                    .mask {
                        position: relative;
                        overflow: hidden;
                        display: inline-flex;
                    }
                }
                &:nth-of-type(2) {
                    font-size: 28px;
                }
            }
        }
    }
    .technologies-slider {
        --blur: 5px;
        --contrast: 105%;
        display: flex;
        width: 75%;
        margin: 0 auto;
        overflow: hidden;
        gap: 5rem;
        position: relative;
        .slider-items {
            min-width: 100%;
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
            gap: 5rem;
            animation: scrolling 25s linear infinite;
            img {
                height: 7.5vh;
                width: 100%;
                // margin: 1.5rem 0rem;
                object-fit: cover;
            }
        }
        .mask {
            position: absolute;
            inset: 0;
            background: #ffffff;
            backdrop-filter: blur(var(--blur)) contrast(var(--contrast));
            -webkit-backdrop-filter: blur(var(--blur)) contrast(var(--contrast));
            -webkit-mask: linear-gradient(90deg, #000 50px, #0000 175px calc(100% - 175px), #fff calc(100% - 50px));
            pointer-events: none;
        }
        &:hover .slider-items {
            animation-play-state: paused;
        }
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 5rem));
    }
}