.aboutMe-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        font-family: 'SF Pro Display';
        font-size: 10rem;
        font-weight: 600;
    }
}