.introduction--section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .gradients-wrapper {
        display: block;
        .gradient {
            position: absolute;
            top: -100%;
            bottom: -100%;
            left: 0%;
            right: 0;
        }
        .gradient-dark {
            animation: gradient-header-morphing 10s ease-in-out 5s infinite alternate, gradient-header-left-showup 5s ease-in-out;
            background-image: radial-gradient(circle, rgba(0, 0, 150, 0.85) 0, hsla(0, 0%, 7%, 0) 60%);
        }
        .gradient-light {
            animation: gradient-header-morphing 10s ease-in-out 5s infinite alternate-reverse, gradient-header-right-showup 5s ease-in-out;
            background-image: radial-gradient(circle, rgba(0, 242, 255, 0.575) 0, hsla(0, 0%, 7%, 0) 60%);
        }
        .gradient-left {
            animation: gradient-header-left-move 8s ease-in-out 1s infinite alternate-reverse, gradient-header-left-showup 1s ease-in-out;
            background-image: radial-gradient(circle, rgba(0, 0, 255, 0.325) 0, hsla(0, 0%, 7%, 0) 37.5%);
        }
    }
    .introduction-wrapper {
        width: 87.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        h2 {
            font-family: 'Inter', sans-serif;
            font-size: 8.5rem;
            font-weight: 700;
            letter-spacing: 0.75px;
            //width: 100%;
            text-align: left;
            margin-bottom: 7vh;
            mix-blend-mode: difference;
        }
        .introduction__description {
            text-align: right;
            text-wrap: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            p {
                font-family: 'Inter', sans-serif;
                font-family: "SUSE", system-ui;
                font-size: 2.75rem;
                font-weight: 500;
                letter-spacing: 1px;
                height: 3.5rem;
            }
            .container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 3.5rem;
                letter-spacing: 0.75px;
                .roles {
                    position: relative;
                    overflow: hidden;
                    height: 3.5rem;
                    p {
                        text-wrap: nowrap;
                        background: -webkit-linear-gradient(290deg, #002fff, limegreen);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        position: relative;
                        bottom: -100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: baseline;
                        height: 3.5rem;
                        user-select: none;
                        animation: spinWords 8s infinite forwards;
                        span {
                            font-family: "SUSE", system-ui;
                            height: 3.5rem;
                            font-weight: 500;
                            margin-right: 9px;
                            display: inline-block;
                            color: white;
                            -webkit-text-fill-color: #FFF;
                        }
                    }
                }
            }
        }
    }
    //!canvas
    .stars {
        position: absolute;
        inset: 0;
        z-index: 5;
        background-image: url('/stars.png');
        opacity: 0.75;
        animation: stars 15s ease-in-out 0.05s infinite alternate forwards;
        background-size: 100% 100%;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    .scroll-Suggestion {
        position: absolute;
        bottom: 0.25rem;
        left: 50%;
        transform: translate(-50%, -50%);
        .icon {
            font-size: 2.2rem;
            color: #fff;
            animation: moveMouse 2s forwards infinite;
        }
    }
}

@keyframes spinWords {
    10% {
        transform: translateY(-105%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-205%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-305%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-405%);
    }
    100% {
        transform: translateY(-400%);
    }
}

//! back up
@keyframes stars {
    from {
        background-size: 100% 100%;
        opacity: 0.55;
    }
    to {
        background-size: 170% 170%;
        opacity: 0.9;
    }
}

@keyframes moveMouse {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(2.5px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes gradient-header-morphing {
    0% {
        transform: translate(-27%, -33%);
    }
    100% {
        transform: translate(25%, -29%);
    }
}

@keyframes gradient-header-left-showup {
    0% {
        transform: translate(-27%, -58%);
    }
    100% {
        transform: translate(-27%, -33%);
    }
}

@keyframes gradient-header-right-showup {
    0% {
        transform: translate(25%, -54%);
    }
    100% {
        transform: translate(25%, -29%);
    }
}

@keyframes gradient-header-left-showup {
    0% {
        transform: translate(-35%, 100%);
    }
    100% {
        transform: translate(-35%, 100%);
    }
}

@keyframes gradient-header-left-move {
    0% {
        transform: translate(-35%, -20%);
    }
    100% {
        transform: translate(-35%, 20%);
    }
}

//! 1440px MacBook
@media screen and (max-width:1550px) {
    .introduction--section {
        .introduction-wrapper {
            width: 90%;
            h2 {
                font-size: 6.75rem;
                margin-bottom: 9vh;
            }
            .introduction__description p {
                font-size: 2.25rem;
                height: 3.25rem;
            }
        }
    }
}

//? M - laptops
@media screen and (max-width:1370px) {
    .introduction--section {
        .introduction-wrapper {
            width: 92.5%;
            h2 {
                font-size: 6.5rem;
                margin-bottom: 10.5vh;
            }
            .introduction__description p {
                font-size: 2.15rem;
                letter-spacing: 0.75px;
            }
        }
    }
}

//? S - laptops
@media screen and (max-width:1285px) {
    .introduction--section {
        .introduction-wrapper {
            width: 92.5%;
            h2 {
                font-size: 6.5rem;
                margin-bottom: 10vh;
            }
            .introduction__description p {
                font-size: 2.15rem;
                letter-spacing: 0.5px;
            }
        }
    }
}

//? smartphones
@media screen and (max-width: 750px) {
    .introduction--section {
        .introduction-wrapper {
            width: 92.5%;
            flex-direction: column;
            align-items: center;
            h2 {
                font-size: 4.5rem;
                margin-bottom: 10vh;
                text-align: left;
            }
            .introduction__description {
                text-align: center;
                .container {
                    justify-content: center;
                    margin-top: 2.5rem;
                    .roles p {
                        justify-content: center;
                    }
                }
                p {
                    justify-content: center;
                    text-wrap: balance;
                    font-size: 2rem;
                    font-size: 30px;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}