.slidingImages {
    position: relative;
    z-index: 10;
    gap: 1.5vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    //margin-top: 7.5vh;
    padding-top: 5vh;
    //background-color: #fff;
    .slider {
        display: flex;
        position: relative;
        z-index: 15;
        gap: 2vw;
        width: 120vw;
        left: -10vw;
        .project {
            width: 25%;
            height: 19vw;
            //height: 37.5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            .imageContainer {
                position: relative;
                overflow: hidden;
                width: 92.5%;
                height: 85%;
                //! TEST
                width: 100%;
                height: 100%;
                img {
                    border-radius: 14px;
                    object-fit: cover;
                    box-shadow: 0px 6px 22px rgba(125, 125, 125, 0.25);
                    transform: perspective(1000px) rotateX(30deg) rotateZ(25deg) skew(5deg, -15deg);
                    transform: perspective(1000px) rotateX(30deg) rotateZ(10deg) skew(-25deg, 5deg);
                    //transform: rotateX(50deg) rotateZ(30deg);
                    transform-style: preserve-3d;
                    transition: .35s ease;
                    &:hover {
                        transform: translate3d(0px, -12px, 0px) perspective(1000px) rotateX(30deg) rotateZ(10deg) skew(-25deg, 5deg);
                        //transform: translate3d(0px, -8px, 0px) perspective(1000px) rotateX(50deg) rotateZ(30deg) skew(5deg, -15deg);
                    }
                }
            }
        }
    }
}

.projects-gallery {
    padding: 15vh 0 20vh;
    background-color: #000;
    color: #fff;
    display: flex;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    //position: relative;
    //overflow-x: hidden;
    .fixed_projects {
        font-family: "SUSE", system-ui;
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: 10px;
        width: 0;
        position: sticky;
        top: 50%;
        left: 0;
        z-index: 0;
        transform: translate(0vh, -200%);
        display: flex;
        justify-content: center;
        rotate: 270deg;
        user-select: none;
    }
    .projects-gallery-container {
        overflow-x: hidden;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .project-link {
        width: 100%;
    }
    .project {
        color: #000;
        color: #fff;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        //! 50px 75px
        padding: 5vh 70px;
        padding-left: calc(70px - 0.5rem);
        border-bottom: 1px solid rgb(100, 100, 100);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:first-of-type {
            border-top: 1px solid rgb(100, 100, 100);
        }
        .name-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s;
            span {
                display: block;
                font-size: 50px;
                opacity: 0;
                transition: all 0.1s ease-out;
                margin-right: 0.5rem;
                width: 4.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            h3 {
                font-family: 'SF Pro Display', sans-serif;
                font-family: "SUSE", system-ui;
                font-size: 60px;
                font-weight: 400;
                letter-spacing: 0.75px;
                margin: 0px;
                user-select: none;
                transition: all 0.4s;
            }
        }
        p {
            font-family: "Albert Sans", sans-serif;
            font-family: "SUSE", system-ui;
            transition: all 0.4s;
            font-weight: 400;
            user-select: none;
        }
        &:hover {
            border-bottom: 1px solid rgb(255, 255, 255);
            .name-wrapper {
                transform: translateX(-20px);
                opacity: 1;
                h3 {
                    opacity: 0.5;
                }
                span {
                    transition: all 0.3s ease-in;
                    opacity: 0.7;
                }
            }
            p {
                transform: translateX(20px);
                opacity: 0.5;
            }
        }
    }
    .modalContainer {
        height: 350px;
        width: 400px;
        height: 35vh;
        width: 22.5vw;
        position: absolute;
        background-color: white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        .modalSlider {
            height: 100%;
            width: 100%;
            position: absolute;
            transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            .modal {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    object-fit: cover;
                    aspect-ratio: 1.5/1;
                    height: auto;
                    object-position: top;
                    transition: 0.05s;
                    transition-delay: 0.4s;
                    border-radius: 8px;
                    &.active {
                        object-position: bottom;
                        transition: 2.75s ease-in-out;
                        transition-delay: 0.4s;
                    }
                }
            }
        }
    }
    .cursor-gallery,
    .cursorLabel {
        font-family: 'SF Pro Display';
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 1.75px;
        text-transform: uppercase;
        background-color: rgb(0, 0, 140);
        color: #fff;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        position: absolute;
        z-index: 1001;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }
    .cursorLabel {
        background-color: transparent;
    }
}

//! 1440px laptop
@media screen and (max-width:1550px) {
    .slidingImages .slider {
        width: 130vw;
    }
    .projects-gallery {
        .fixed_projects {
            font-size: 1.9rem;
            letter-spacing: 12.5px;
            transform: translate(0vh, -190%);
        }
        .modalContainer {
            width: 30vw;
            height: 37.5vh;
        }
        .projects-gallery-container {
            width: 85%;
        }
        .project {
            padding: 4.5vh 60px;
            .name-wrapper {
                h3 {
                    font-size: 47.5px;
                }
            }
        }
    }
}

//? M - Laptop
@media screen and (max-width:1370px) {
    .slidingImages .slider {
        width: 135vw;
    }
    .projects-gallery {
        .fixed_projects {
            font-size: 1.9rem;
            letter-spacing: 12.5px;
            transform: translate(0vh, -190%);
        }
        .modalContainer {
            width: 30vw;
            height: 40vh;
        }
        .projects-gallery-container {
            width: 85%;
        }
        .project {
            padding: 4.5vh 55px;
            .name-wrapper {
                h3 {
                    font-size: 45px;
                }
            }
        }
    }
}

//?  S - laptops
@media screen and (max-width:1285px) {
    .projects-gallery {
        .fixed_projects {
            font-size: 1.8rem;
            letter-spacing: 12.5px;
            transform: translate(0vh, -180%);
        }
        .modalContainer {
            width: 31vw;
            height: 37vh;
        }
        .project {
            padding: 3.75vh 50px;
            padding-left: 37.5px;
            .name-wrapper span {
                font-size: 40px;
            }
        }
    }
}

//? smartphones
@media screen and (max-width: 750px) {
    .slidingImages {
        padding-top: 2.5vh;
        .slider {
            width: 175vw;
            left: -40vw;
            &:nth-of-type(2) {
                left: -17.5vw;
            }
            .project {
                height: 25vw;
            }
        }
    }
    .projects-gallery {
        padding: 10vh 0 12.5vh;
        .fixed_projects {
            display: none;
        }
        .modalContainer {
            width: 31vw;
            height: 37vh;
            display: none;
        }
        .cursor-gallery,
        .cursorLabel {
            display: none;
        }
        .project {
            padding: 2.75vh 10px;
            justify-content: flex-start;
            .name-wrapper {
                h3 {
                    font-size: 25px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.25px;
                }
                span {
                    display: flex;
                    opacity: 1;
                    font-size: 28px;
                }
            }
            p {
                display: none;
            }
        }
        .projects-gallery-container {
            width: 95%;
        }
    }
}